h1 {
    color: rgb(255, 247, 3);
    font-size: 100px;
    text-align: center;
}
p  {
    text-align: center;
}
#Lambo wrd {
border-radius: 15%;
display: block;
margin-left: auto;
margin-right: auto;
}
#Header, #evolution {
    border-radius: 15%;
    height: 600;
    width: 800;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 