#img1, #EuroBanknotes {
    border: 2px solid black;
    border-radius: 10%;
    width: 800px;
    height: 600px;
}
#Euro-Sign, #USD-Sign, #Lari-Sign {
    display: inline;
    width: 300px;
    height: 200px;
}