
.playfair-display-<uniquifier>  {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1 {
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.imglist {
    width: 300px;
    height: 400px;
}

.imglist img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#p1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
}
table {
  border-collapse: collapse;
  border: 2px solid black;
  margin: auto;
}
td, th {
  border: 2px solid black;
  text-align: center;
  padding: 40 px;
}
tr {
  border: 2px solid black;
}
th {
  background-color: bisque;
  padding: 30px;
}
td {
  padding: 30px;
}
#p2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
}
b {
  font-family: "Playfair Display", serif;
  margin-top: 50px;
  margin-bottom: 50px;
}
input {
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}