
.playpen-sans-<uniquifier> {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.logo p {
    font-size: 50px;
    font-weight: bolder;
    color: white; 
    text-align: center;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

header {
    background-color: #450808;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
}

.logo {
    display: flex;
    align-items: left;
    gap: 5px;
    position: relative;
    height: 180px;
    text-align: center;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 63px;
    position: relative;
    right: 109px;
}

body {
    background-color: #973e3e;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    gap: 40px;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}
.main .img img {
    width: 750px;
    height: 550px;
    border-radius: 5px;
}

.img:hover {
    transform: scale(1.1);
}

.OH {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    gap: 10px;
}
.h3 {
    margin: 200px;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

.OH .imgOH img {
    width: 750px;
    height: 550px;
    border-radius: 5px;
}

.OH .imgOH img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #450808;
    display: flex;
    justify-content: space-between;
}

footer div {
    margin: 50px;
    height: 150px;
}

.Logo2 {
    display: flex;
    align-items: left;
    gap: 5px;
    position: relative;
    height: 200px;
    text-align: center
}
.loc {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
    font-size: 24px;
}

.cont {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-size: 24px;
    font-family: "Playpen Sans", cursive;
}


.hst {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

.type {
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

h2 {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

.main2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    gap: 40px;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

.main2 .imgtype img {
    width: 750px;
    height: 550px;
    border-radius: 5px;
}

.imgtype:hover {
    transform: scale(1.1);
}
.box {
    height: 200px;
    width: 200px;
    animation-name: boxMover;
    animation-duration: 5s;
    animation-timing-function: ease-in; 
    animation-iteration-count: infinite;
    display: flex;
    position: relative;
}

@keyframes boxMover {
    0% {
        left: 10px;
        top: 0;
        transform: rotate(0deg);
    }

    25% {
        left: 75%;
        top: 0px;
        transform: rotate(90deg);

    }

    50% {
        top: 220px;
        left: 75%;
        transform: rotate(175deg);
    }

    75% {
        left: 10px;
        transform: rotate(270deg);
    }

    100% {
        top: 0px;
        left: 10px;
        transform: rotate(360deg);
    }
}

.contLoc {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

.contPh {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
}

.form  {
    display: flex;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 10px rgb(255, 251, 6);
    font-family: "Playpen Sans", cursive;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form input {
    width: 350px;
    height: 50px;
    font-size: 22px;
    color: #450808;
    padding: 10px;
    font-family: "Playpen Sans", cursive;
}

.form input:hover {
    background-color: blue;
}
.form input:active {
    transform: scale(1.2);
    background-color: blueviolet;
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.social img {
    width: 40px;
    height: 40px;
}

@media (max-width: 1024px) {

  nav {
    right: 0;
    gap: 30px;
  }

  nav a {
    font-size: 22px;
  }

  .main,
  .OH,
  .main2 {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .main .img img,
  .OH .imgOH img,
  .main2 .imgtype img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .h3 {
    margin: 80px;
    font-size: 28px;
  }
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .logo p {
    font-size: 32px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    right: 0;
  }

  nav a {
    font-size: 20px;
  }

  .main,
  .OH,
  .main2 {
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    text-align: center;
  }

  .h3 {
    margin: 30px;
    font-size: 22px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer div {
    margin: 20px;
  }

  .form input {
    width: 90%;
    font-size: 18px;
  }

  .social img {
    width: 35px;
    height: 35px;
  }
}
